@import 'chars/goku';

$images: '../img';

* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

body, html, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin:  0;
  display: block;
  overflow: hidden;
}

body {
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  color: rgba(255, 255, 255, .4);

  strong, h1, p {
    span {
      color: #FFF;
    }
  }
}

header {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    max-width: 50%;
    text-align: center;
    font-weight: lighter;
    font-family: "Andale Mono",AndaleMono,monospace;
    font-size: 2em;
  }

  h1 {
    font-size: 1.1em;
  }
}

#goku {
  margin-left: 5em;
}

#game-scene--intro {
  background-color: #0e2e77;
  color: #efca00;
}

#game-level--space {
  background: #71db00 url('#{$images}/landscape.png') repeat-x;
}

#game-scene--score {
  background-color: #233810;

  a {
    text-decoration: none;
    color: #f5f243;

    &:hover {
      color: #f57f43;
    }
  }
}
